@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: LexendPro;
  font-display: swap;
  src: url(../fonts/LexendPro-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: LexendPro;
  font-display: swap;
  src: url(../fonts/LexendPro-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: LexendPro;
  font-display: swap;
  src: url(../fonts/LexendPro-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: LexendPro;
  font-display: swap;
  src: url(../fonts/LexendPro-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #3d3d3d;
  line-height: 1;
  font-family: Inter;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,69.375rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .625rem 2.5rem
}
.menu__link {
  font-family: LexendPro;
  font-weight: 500;
  font-size: .875rem;
  line-height: 155%;
  transition: color .3s
}
.icon-menu {
  display: none
}
.button {
  font-family: LexendPro;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3125rem;
  background-color: #f16029;
  min-width: 13.75rem;
  min-height: 3.375rem;
  padding: .9375rem 1.875rem;
  border-radius: 3.125rem;
  font-weight: 500;
  font-size: .875rem;
  line-height: 100%;
  text-align: center;
  color: #fff;
  transition: opacity .3s
}
.button-empty {
  font-family: LexendPro;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3125rem;
  border: 1px solid #f16029;
  background-color: rgba(0,0,0,0);
  min-width: 13.75rem;
  min-height: 3.375rem;
  padding: .9375rem 1.875rem;
  border-radius: 3.125rem;
  font-weight: 600;
  font-size: .875rem;
  line-height: 100%;
  text-align: center;
  color: #f16029;
  transition: opacity .3s
}
.title {
  font-family: LexendPro;
  font-weight: 600;
  line-height: 124%;
  text-align: center;
  color: #09266a
}
.slider {
  overflow: visible!important;
  position: relative;
  background-color: #f1f4ff
}
.slider::before {
  content: "";
  position: absolute;
  top: -.625rem;
  z-index: 5;
  background-color: inherit;
  width: 100vw;
  height: 110%;
  left: 0;
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0)
}
.slider__wrapper:not(:last-child) {
  margin-bottom: 1.5rem
}
.slider__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8125rem
}
.swiper-button-next,
.swiper-button-prev {
  color: #09266a;
  width: 3.125rem;
  height: 3.125rem;
  display: grid;
  place-content: center;
  transition: color .3s
}
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: .375rem .75rem;
  text-align: center;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-pagination .swiper-pagination-bullet {
  background-color: #bacaf5;
  border-radius: 50%;
  width: .5rem;
  height: .5rem;
  transition: all .3s;
  cursor: pointer
}
.swiper-pagination .swiper-pagination-bullet-active {
  width: .8125rem;
  height: .8125rem
}
.header {
  background-color: #fff
}
.header__container {
  max-width: 81.25rem;
  width: 100%
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .9375rem;
  padding: 1.3125rem 0
}
.header__logo {
  display: flex;
  align-items: center;
  gap: .5rem;
  max-width: 11.0625rem;
  width: 100%
}
.header__logo-icon {
  width: 2.1875rem;
  height: 2.1875rem;
  -o-object-fit: cover;
  object-fit: cover
}
.header__logo-text {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.header__actions {
  display: flex;
  align-items: center;
  gap: .75rem
}
.header__now,
.header__sign {
  font-family: LexendPro;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 4.125rem;
  min-height: 2.75rem;
  font-weight: 600;
  font-size: .875rem;
  line-height: 155%;
  letter-spacing: .04em;
  text-align: center;
  transition: opacity .3s
}
.header__sign {
  border: 1px solid #f7a07f;
  padding: .625rem 1.1875rem;
  color: #f16029
}
.header__now {
  padding: .625rem 1.0625rem;
  color: #fff;
  background-color: #09266a
}
.footer {
  background-color: #09266a;
  color: #fff
}
.footer__container {
  max-width: 67.5rem
}
.footer__body {
  padding: 2.5rem 0 1.75rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: .5rem;
  max-width: 17.75rem;
  width: 100%
}
.footer__logo img {
  max-width: 13.4375rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.footer__logo img:first-child {
  width: 3.5625rem;
  height: 3.5625rem
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.25rem;
  margin-right: 3rem
}
.footer__nav-col {
  display: flex;
  flex-direction: column;
  gap: .75rem
}
.footer__nav-title {
  font-family: LexendPro;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 100%;
  margin-bottom: .5rem
}
.footer__nav-link {
  font-weight: 400;
  font-size: .9375rem;
  line-height: 145%;
  transition: color .3s
}
.footer__bottom {
  border-top: 1px solid rgba(255,255,255,.5);
  padding: 1.875rem 0
}
.footer__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875rem 3.8125rem
}
.footer__guarantee {
  max-width: 16.375rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: .75rem;
  font-size: .75rem;
  line-height: 150%
}
.footer__guarantee img {
  width: 3.75rem;
  height: 3.75rem;
  -o-object-fit: cover;
  object-fit: cover
}
.footer__protect {
  max-width: 6.25rem
}
.footer__protect img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.footer__payments {
  display: flex;
  gap: .625rem
}
.footer__pay {
  width: 2.5rem;
  height: 1.5625rem;
  background-color: #fff;
  border-radius: .125rem;
  display: grid;
  place-content: center
}
.footer__pay img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.footer__copy {
  margin-left: auto;
  font-weight: 400;
  font-size: .6875rem;
  line-height: 187%;
  color: #f5f7fd
}
.hero {
  padding: 4.9375rem 0;
  background: url(../img/hero-bg.svg) center/cover no-repeat #09266a;
  color: #fff
}
.hero__body {
  max-width: 52.5rem;
  width: 100%;
  margin: 0 auto 3.75rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center
}
.hero__title {
  font-family: LexendPro;
  font-weight: 700;
  line-height: 117%
}
.hero__title span {
  color: #f16029
}
.hero__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.hero__subtitle {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 135%;
  color: #ededed
}
.hero__subtitle:not(:last-child) {
  margin-bottom: 2.5rem
}
.hero__bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .75rem 2.9375rem
}
.hero__text {
  font-family: LexendPro;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  text-align: center;
  color: #f5f7ff
}
.hero__text span {
  color: #6e9cf9
}
.hero__items {
  display: flex;
  align-items: center
}
.hero__item {
  display: flex;
  align-items: center;
  gap: .625rem
}
.hero__item:not(:first-child) {
  padding-left: 1.875rem
}
.hero__item:not(:last-child) {
  border-right: 1px solid #748fb5;
  padding-right: 1.875rem
}
.hero__item-icon img {
  max-width: 1.75rem;
  -o-object-fit: cover;
  object-fit: cover
}
.hero__item-body {
  display: flex;
  flex-direction: column;
  gap: .25rem
}
.hero__item-rate {
  font-family: LexendPro;
  font-weight: 500;
  line-height: 100%;
  color: #f5f7ff
}
.hero__item-stars {
  display: flex;
  align-items: center;
  gap: .09375rem;
  font-size: 0
}
.hero__item-star img {
  width: .375rem;
  height: .375rem;
  -o-object-fit: cover;
  object-fit: cover
}
.hero__item-name {
  font-weight: 400;
  font-size: .75rem;
  line-height: 150%;
  color: #f5f7ff
}
.steps {
  padding: 5rem 0;
  background-color: #f1f4ff;
  position: relative
}
.steps::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  height: 100%;
  width: 10.25rem;
  background: linear-gradient(270deg,#f1f4ff 0,rgba(241,244,255,0) 100%)
}
.steps__container {
  max-width: 70.5rem
}
.steps__title {
  font-family: LexendPro;
  max-width: 43.4375rem;
  width: 100%;
  margin: 0 auto .6875rem auto
}
.steps__text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%;
  text-align: center;
  color: #3d3d3d;
  margin-bottom: 2.5rem
}
.steps__items {
  margin-bottom: 2.5rem
}
.steps__card {
  background-color: #fff;
  border: 1px solid #c4d3f8;
  border-radius: 1.875rem;
  padding: 1.125rem 1.6875rem 2.5rem 1.6875rem;
  height: 100%
}
.steps__card-num {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 80%;
  color: #f16029
}
.steps__card-icon {
  width: 3.75rem;
  height: 3.75rem;
  margin: 0 auto .9375rem auto
}
.steps__card-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.steps__card-title {
  font-family: LexendPro;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 125%;
  text-align: center;
  color: #09266a;
  margin-bottom: .8125rem
}
.steps__card-text {
  max-width: 15.75rem;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 150%;
  color: #3d3d3d
}
.steps__btn {
  margin: 0 auto
}
.services {
  padding: 5rem 0
}
.services__title {
  margin-bottom: 2.8125rem
}
.services__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(15.625rem,1fr));
  gap: 2.5rem
}
.services__item {
  max-width: 19.625rem;
  width: 100%;
  margin: 0 auto
}
.services__item-head {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1rem
}
.services__item-icon {
  flex-shrink: 0;
  width: 3.75rem;
  height: 3.75rem
}
.services__item-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.services__item-title {
  font-family: LexendPro;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
  color: #09266a
}
.services__item-text {
  font-size: 1rem;
  line-height: 150%;
  color: #3d3d3d
}
.place {
  position: relative;
  z-index: 3;
  margin-bottom: -12.5rem
}
.place__container {
  max-width: 73.375rem
}
.place__body {
  color: #fff;
  background-color: #09266a;
  border-radius: 3.75rem;
  padding: 3.125rem 5.125rem;
  display: flex;
  align-items: center;
  gap: 1rem
}
.place__title {
  color: #fff;
  text-align: left;
  line-height: 142%;
  margin-bottom: 1.25rem
}
.place__text {
  font-size: 1.25rem;
  line-height: 160%
}
.place__text:not(:last-child) {
  margin-bottom: 2.5rem
}
.place__img {
  max-width: 20.75rem;
  width: 100%
}
.place__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.team {
  padding: 17.5rem 0 5rem 0;
  background-color: #f1f4ff;
  z-index: 1;
  position: relative
}
.team::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  height: 100%;
  width: 10.25rem;
  background: linear-gradient(270deg,#f1f4ff 0,rgba(241,244,255,0) 100%)
}
.team__container {
  max-width: 70.5rem
}
.team__title {
  margin-bottom: .625rem
}
.team__text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%;
  text-align: center;
  color: #3d3d3d;
  margin-bottom: 2.5rem
}
.team__items:not(:last-child) {
  margin-bottom: 2.5rem
}
.team__card {
  border: 1px solid #c4d3f8;
  border-radius: 1.875rem;
  background-color: #fff;
  padding: 2.5rem 1.375rem;
  height: 100%
}
.team__card-head {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 2.5rem
}
.team__card-img {
  max-width: 6rem;
  max-height: 6rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%
}
.team__card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.team__card-info {
  display: flex;
  flex-direction: column;
  gap: .5625rem
}
.team__card-name {
  font-family: LexendPro;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%;
  color: #09266a
}
.team__card-rate {
  font-family: LexendPro;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .1875rem .4375rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 136%;
  color: #09266a
}
.team__card-stars {
  display: flex;
  align-items: center;
  gap: .25rem
}
.team__card-star {
  display: grid;
  place-content: center
}
.team__card-star img {
  width: 1rem;
  height: 1rem;
  -o-object-fit: cover;
  object-fit: cover
}
.team__card-items {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 2.5rem
}
.team__card-item {
  font-weight: 400;
  font-size: .8125rem;
  line-height: 156%;
  color: #3d3d3d
}
.team__card-item span {
  font-family: LexendPro;
  font-weight: 600;
  font-size: 1rem;
  line-height: 136%;
  color: #09266a
}
.team__card-item:nth-child(1) {
  padding: 0 .625rem 1rem 0;
  border-right: 1px solid #e1eaff;
  border-bottom: 1px solid #e1eaff
}
.team__card-item:nth-child(2) {
  padding: 0 0 1rem .625rem;
  border-bottom: 1px solid #e1eaff
}
.team__card-item:nth-child(3) {
  padding: 1rem .625rem 0 0;
  border-right: 1px solid #e1eaff
}
.team__card-item:nth-child(4) {
  padding: 1rem 0 0 .625rem
}
.team__card-tags {
  max-width: 18.125rem;
  display: flex;
  flex-wrap: wrap;
  gap: .375rem
}
.team__card-tag {
  padding: .25rem .3125rem;
  border-radius: .375rem;
  min-height: 1.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f1f4ff;
  font-size: .875rem;
  line-height: 155%;
  color: #09266a
}
.team__btn {
  margin: 0 auto
}
.stages {
  padding: 5rem 0
}
.stages__title {
  margin-bottom: .625rem
}
.stages__text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%;
  text-align: center;
  color: #3d3d3d;
  margin-bottom: 2.5rem
}
.stages__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(18.125rem,1fr));
  gap: 1.875rem
}
.stages__item {
  border: 1px solid #c4d3f8;
  border-radius: 1.875rem;
  box-shadow: 1px 1px 16px 0 rgba(54,127,211,.18);
  background-color: #fff;
  padding: 1.25rem
}
.stages__item-head {
  display: flex;
  gap: .3125rem;
  margin-bottom: 1rem
}
.stages__item-icon {
  margin: -.875rem 0 0 -.8125rem;
  width: 4.25rem;
  height: 4.25rem
}
.stages__item-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.stages__item-title {
  font-family: LexendPro;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
  color: #09266a
}
.stages__item-title span {
  font-weight: 600;
  color: #f16029
}
.stages__item-text {
  font-size: 1rem;
  line-height: 150%;
  color: #3d3d3d
}
.reviews {
  padding: 5rem 0;
  background-color: #f1f4ff;
  z-index: 1;
  position: relative
}
.reviews::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  height: 100%;
  width: 10.25rem;
  background: linear-gradient(270deg,#f1f4ff 0,rgba(241,244,255,0) 100%)
}
.reviews__container {
  max-width: 70.5rem
}
.reviews__title {
  margin-bottom: .625rem
}
.reviews__text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%;
  text-align: center;
  color: #3d3d3d;
  margin-bottom: 3.75rem
}
.reviews__items:not(:last-child) {
  margin-bottom: 2.5rem
}
.reviews__card {
  border: 1px solid #c4d3f8;
  border-radius: 1.875rem;
  box-shadow: 0 1px 13px 0 rgba(54,127,211,.18);
  background: url(../img/review-bg.svg) center bottom 25px/193px 193px no-repeat #09266a;
  padding: 1.875rem 2.1875rem;
  color: #fff
}
.reviews__card-stars {
  min-height: 4.75rem;
  padding: .625rem 0;
  border-bottom: 1px solid #c4d3f8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
  margin-bottom: .625rem
}
.reviews__card-star img {
  width: 1.3125rem;
  height: 1.3125rem;
  -o-object-fit: cover;
  object-fit: cover
}
.reviews__card-title {
  font-family: LexendPro;
  font-weight: 600;
  font-size: 1.3125rem;
  line-height: 103%;
  margin-bottom: .625rem
}
.reviews__card-text {
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: .9375rem
}
.reviews__card-date {
  font-size: .75rem;
  line-height: 120%
}
.reviews__btn {
  margin: 0 auto
}
.our-services {
  padding: 5rem 0
}
.our-services__title {
  margin-bottom: .625rem
}
.our-services__text {
  max-width: 65rem;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%;
  text-align: center;
  color: #3d3d3d;
  margin-bottom: 2.5rem
}
.tabs-services {
  padding: 3.125rem 3.75rem;
  border-radius: 3.75rem;
  background: url(../img/our-services-bg.svg) center right 50px/250px 250px no-repeat #f1f4ff;
  display: flex;
  align-items: center;
  gap: 6rem
}
.tabs-services__button {
  display: none
}
.tabs-services__navigation {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 16.125rem;
  width: 100%
}
.tabs-services__title {
  font-family: LexendPro;
  border: 1px solid #09266a;
  border-radius: 1.875rem;
  padding: 1.25rem 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: .875rem;
  line-height: 105%;
  text-align: center;
  color: #09266a;
  background-color: rgba(0,0,0,0);
  transition: color .3s,background .3s,border .3s
}
.tabs-services__title._tab-active {
  color: #fff;
  background-color: #09266a
}
.tabs-services__list {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -webkit-column-gap: 3.9375rem;
  -moz-column-gap: 3.9375rem;
  column-gap: 3.9375rem
}
.tabs-services__text {
  font-weight: 400;
  font-size: .875rem;
  line-height: 100%;
  letter-spacing: .03em;
  color: #3d3d3d
}
.tabs-services__text:not(:last-child) {
  margin-bottom: 1.1875rem
}
.features {
  margin-bottom: 5rem
}
.features__container {
  max-width: 67.5rem
}
.features__title {
  margin-bottom: .625rem
}
.features__text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%;
  text-align: center;
  color: #3d3d3d;
  margin-bottom: 1.25rem
}
.features__slider {
  padding: .9375rem;
  margin: 0 -.9375rem;
  margin-bottom: 1.25rem
}
.features__slide {
  border: 1px solid #c4d3f8;
  border-radius: 1.875rem;
  box-shadow: 0 4px 18px 0 rgba(54,127,211,.14);
  background-color: #fff;
  padding: .8125rem 1rem 1.5625rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.features__slide-icon {
  width: 4.25rem;
  height: 4.25rem;
  margin: 0 auto .5625rem auto
}
.features__slide-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.features__slide-title {
  font-family: LexendPro;
  font-weight: 600;
  font-size: .9375rem;
  line-height: 145%;
  color: #09266a;
  margin-bottom: .5625rem
}
.features__slide-price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: .3125rem;
  margin-bottom: 1.25rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 121%;
  color: #09266a
}
.features__slide-price span {
  font-family: LexendPro;
  font-weight: 700;
  font-size: 2.0625rem;
  line-height: 100%;
  text-decoration: line-through
}
.features__slide-free {
  font-family: LexendPro;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 121%;
  text-transform: uppercase;
  color: #f16029
}
.features__btn {
  margin: 0 auto
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:71.25em) {
  .title {
    font-size: 2.625rem
  }
  .hero__title {
    font-size: 3rem
  }
}
@media (max-width:20em) {
  .title {
    font-size: 1.875rem
  }
  .hero__title {
    font-size: 2.125rem
  }
}
@media (max-width:71.25em) {
  .slider::before {
    content: "";
    display: none
  }
  .footer__nav {
    margin-right: 0
  }
  .steps::after {
    display: none
  }
  .place__body {
    padding: 3.125rem 1.5625rem
  }
  .team::after {
    display: none
  }
  .reviews::after {
    display: none
  }
  .tabs-services {
    padding: 2.5rem .9375rem;
    gap: 1.6875rem;
    border-radius: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .team__card-tags {
    max-width: 100%
  }
  .tabs-services__list {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
}
@media (max-width:56.24875em) {
  .footer__content {
    gap: 1.875rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    z-index: 15;
    overflow: auto;
    padding: 3.75rem .9375rem 1.875rem .9375rem;
    background-color: #fff;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.75rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    background-color: #fff;
    z-index: 16
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    justify-content: center
  }
  .menu__link {
    font-size: 1.25rem;
    text-align: center
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.25rem;
    z-index: 17;
    margin-left: auto
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #574b8a;
    border-radius: .0625rem
  }
  .icon-menu::before {
    top: 0;
    background-color: #000b69
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .slider__wrapper:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15
  }
  .header__body {
    padding: .5625rem 0 .4375rem 0
  }
  .header__logo {
    order: 0
  }
  .header__menu {
    order: 2
  }
  .header__actions {
    order: 1;
    justify-content: center
  }
  .footer__content {
    justify-content: center
  }
  .footer__copy {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin-left: 0
  }
  .hero {
    padding: 2.5rem 0;
    background: url(../img/hero-bg-mob.svg) center/cover no-repeat #09266a
  }
  .hero__body {
    margin-bottom: 2.5rem
  }
  .hero__subtitle {
    font-size: 1.125rem;
    line-height: 128%
  }
  .hero__bottom {
    flex-direction: column
  }
  .hero__item {
    padding: 0 .75rem
  }
  .hero__item:not(:first-child) {
    padding-left: .75rem
  }
  .hero__item:not(:last-child) {
    padding-right: .75rem
  }
  .steps {
    padding: 2.5rem 0
  }
  .steps__title {
    margin-bottom: 1.25rem
  }
  .steps__text {
    font-size: 1.125rem;
    line-height: 144%;
    margin-bottom: 2.25rem
  }
  .steps__card {
    padding: 1.125rem 1.6875rem 1.375rem 1.6875rem
  }
  .steps__card-title {
    font-size: 1.25rem;
    line-height: 140%
  }
  .services {
    padding: 2.5rem 0
  }
  .services__title {
    margin-bottom: 1.25rem
  }
  .services__item-title {
    font-size: 1.3125rem
  }
  .place__body {
    border-radius: 1.875rem
  }
  .place__title {
    line-height: 119%
  }
  .place__text {
    font-size: 1.125rem;
    line-height: 156%
  }
  .place__text:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .team {
    padding: 15rem 0 2.5rem 0
  }
  .team__title {
    margin-bottom: 1.25rem
  }
  .team__text {
    font-size: 1.125rem;
    line-height: 144%;
    margin-bottom: 1.25rem
  }
  .team__items:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .team__card-head {
    margin-bottom: 1.5rem
  }
  .team__card-items {
    margin-bottom: 1.0625rem
  }
  .stages {
    padding: 2.5rem 0
  }
  .stages__title {
    margin-bottom: 1.25rem
  }
  .stages__text {
    font-size: 1.125rem;
    line-height: 144%;
    margin-bottom: 1.25rem
  }
  .stages__items {
    gap: 1.25rem
  }
  .reviews {
    padding: 2.5rem 0
  }
  .reviews__title {
    margin-bottom: 1.25rem
  }
  .reviews__text {
    font-size: 1.125rem;
    line-height: 144%;
    margin-bottom: 1.25rem
  }
  .reviews__items:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .reviews__card {
    padding: 1.875rem
  }
  .our-services {
    padding: 2.5rem 0
  }
  .our-services__title {
    margin-bottom: 1.25rem
  }
  .our-services__text {
    font-size: 1.125rem;
    line-height: 144%;
    margin-bottom: 1.25rem
  }
  .tabs-services {
    flex-direction: column;
    align-items: stretch
  }
  .tabs-services__navigation {
    max-width: 100%;
    flex-direction: row
  }
  .features__title {
    margin-bottom: 1.25rem
  }
  .features__text {
    font-size: 1.125rem;
    line-height: 144%;
    margin-bottom: 0
  }
  .features__slider {
    margin-bottom: 0
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:40.62375em) {
  .header__logo {
    max-width: 2.1875rem
  }
  .header__logo-text {
    display: none
  }
  .footer__body {
    flex-direction: column;
    justify-content: stretch;
    gap: 2.5rem;
    padding: 3.125rem 0 2.5rem 0
  }
  .footer__logo {
    justify-content: center;
    max-width: 11.0625rem;
    gap: .3125rem
  }
  .footer__logo img {
    max-width: 8.375rem
  }
  .footer__logo img:first-child {
    width: 2.1875rem;
    height: 2.1875rem
  }
  .footer__nav {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2.5rem;
    text-align: center
  }
  .footer__nav-col {
    gap: .875rem
  }
  .footer__nav-title {
    margin-bottom: .375rem
  }
  .footer__content {
    flex-direction: column;
    justify-content: stretch;
    gap: 1.875rem
  }
  .footer__guarantee {
    order: 1;
    flex-direction: column;
    gap: .625rem;
    text-align: center;
    max-width: 11.875rem
  }
  .footer__protect {
    order: 2
  }
  .footer__payments {
    order: 0
  }
  .footer__copy {
    order: 3
  }
  .place {
    margin-bottom: -21rem
  }
  .place__body {
    flex-direction: column;
    gap: 2.5rem
  }
  .team {
    padding: 23.5rem 0 2.5rem 0
  }
  .tabs-services {
    background: url(../img/our-services-bg.svg) center/250px 250px no-repeat #f1f4ff
  }
  .tabs-services__dropdown {
    position: relative;
    z-index: 1
  }
  .tabs-services__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .625rem;
    font-weight: 600;
    font-size: .875rem;
    line-height: 100%;
    color: #0e101a;
    min-height: 3.375rem;
    padding: .9375rem 1.25rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: .125rem
  }
  .tabs-services__button::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background: url(../img/icons/arrow-down.svg) center/contain no-repeat;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
  }
  .open-dropdown-tabs .tabs-services__button::after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  .tabs-services__navigation {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    background-color: #fff;
    border: 1px solid #000;
    border-radius: .125rem;
    padding: .625rem;
    gap: .625rem;
    transition: all .3s
  }
  .open-dropdown-tabs .tabs-services__navigation {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0);
    transform: rotateX(0)
  }
  .tabs-services__title {
    border-radius: .125rem
  }
  .tabs-services__list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2
  }
}
@media (max-width:34.37375em) {
  .team__card-items {
    gap: .5625rem 1.0625rem
  }
  .team__card-item span {
    display: block
  }
  .team__card-item:nth-child(1),
  .team__card-item:nth-child(2),
  .team__card-item:nth-child(3),
  .team__card-item:nth-child(4) {
    padding: 0;
    border: 0
  }
}
@media (max-width:29.99875em) {
  .hero__btn {
    max-width: 100%
  }
  .hero__text {
    text-align: center
  }
  .hero__items {
    align-items: stretch;
    flex-wrap: wrap;
    gap: .75rem 0;
    margin: 0 auto
  }
  .hero__item {
    flex-direction: column;
    align-items: stretch;
    gap: .25rem
  }
  .hero__item-icon {
    flex: 1 1 auto
  }
  .services__item {
    max-width: 100%
  }
  .services__item-head {
    gap: .625rem
  }
  .services__item-icon {
    width: 3.4375rem
  }
  .place__btn {
    max-width: 100%
  }
  .team__title {
    max-width: 17.5rem;
    margin: 0 auto
  }
  .team__card {
    padding: 1.25rem
  }
  .team__btn {
    max-width: 100%
  }
  .tabs-services__list {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1
  }
}
@media (max-width:22.49875em) {
  .slider__navigation {
    gap: 1.25rem
  }
  .header__sign {
    padding: .625rem .75rem
  }
  .header__now {
    padding: .625rem .75rem
  }
  .steps__card {
    padding: 1.125rem .9375rem
  }
  .team__card-head {
    gap: .625rem
  }
  .reviews__card {
    padding: 1.25rem
  }
}
@media (min-width:20em)and (max-width:71.25em) {
  .title {
    font-size: clamp(1.875rem ,1.5823170732rem + 1.4634146341vw ,2.625rem)
  }
  .hero__title {
    font-size: clamp(2.125rem ,1.7835365854rem + 1.7073170732vw ,3rem)
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: #f16029
  }
  .button:hover {
    opacity: .7
  }
  .button-empty:hover {
    opacity: .7
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: #f16029
  }
  .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: #09266a
  }
  .header__now:hover,
  .header__sign:hover {
    opacity: .7
  }
  .footer__nav-link:hover {
    color: #f16029
  }
  .tabs-services__title:hover {
    border-color: #6e9cf9;
    color: #6e9cf9
  }
}